* {
  border: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  min-height: 1px;
}

window#waybar {
  background: rgba(34, 36, 54, 0.6);
}

window#waybar.hidden {
  opacity: 0.2;
}

/* - Genera rules for visible modules -- */
#mpris
#custom-archicon,
#clock,
#memory,
#disk,
#temperature,
#battery,
#backlight,
#power-profiles-daemon,
#pulseaudio,
#pulseaudio-slider,
#network,
#idle_inhibitor,
#cpu,
#privacy,
#language {
  color: #161320;
  margin-top: 1px;
  margin-bottom: 1px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
}

#custom-archicon,
#idle_inhibitor {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}




#battery {
  background: #CBA6F7;
  padding-right: 13px;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #f53c3c;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}


#backlight {
    background-color: #90b1b1;
}
#clock {
  background: #ABE9B3;
}

#cpu {
  background: #96CDFB;
}

#memory {
  background: #DDB6F2;
}

#disk {
  background: #F5C2E7;
}

#temperature {
  background: #F8BD96;
}


#workspaces {
  background: rgba(0, 0, 0, 0.5);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 1px 0px;
  padding: 1px 0px;
}

#workspaces button {
  color: #B5E8E0;
  background: transparent;
  padding: 4px 4px;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

#workspaces button.occupied {
  color: #A6E3A1;
}

#workspaces button.focused, #workspaces button.active {
  background-color: #49535c;
  text-shadow: 0 0 4px #ABE9B3;
  box-shadow: inset 0 -2px #ffffff;
}

#workspaces button.visible {
  background-color: #49535c;
  text-shadow: 0 0 4px #ABE9B3;
}

#workspaces button:hover {
  color: #89B4FA;
}

#workspaces button.urgent{
background-color: #ed615f;
}

/* Modules right */
#taskbar {
  background: transparent;
  border-radius: 10px;
  padding: 0px 5px;
  margin: 6px 5px;
}

#taskbar button {
  padding: 0px 5px;
  margin: 0px 3px;
  border-radius: 6px;
  transition: background 0.3s ease;
}

#taskbar button.active {
  background: rgba(34, 36, 54, 0.5);
}

#taskbar button:hover {
  background: rgba(34, 36, 54, 0.5);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
  background: #B5E8E0;
  padding-right: 15px;
}

#privacy {
  background: #76dbcb;
}

#pulseaudio {
  min-width: 55px;
  color: #1A1826;
  background: #F5E0DC;
}

#pulseaudio-slider {
  color: #1A1826;
  background: #E8A2AF;
  min-width: 50px;
}

#pulseaudio-slider slider {}


#network {
  background: #CBA6F7;
  padding-right: 13px;
}

#network.disconnected {
    background-color: #f53c3c;
}

#language {
  background: #A6E3A1;
  padding-right: 15px;
}


#mpris {
  background: #333652;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0px 5px;
  padding: 0px 6px;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}
